body{
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 0 8%;
    background-color: rgb(30, 30, 30);
}

.sidebar {
    background-image: url("spacePaper.png");
    background-attachment: fixed;
    height: 100vh;
    flex-grow: 1;
    color: white;
}

.main-content {
    background-color: whitesmoke;
    height: 100vh;
    flex-grow: 3;
}

p {
    text-align: center;
}