body{
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 0 8%;
    background-color: rgb(30, 30, 30);
}

.sidebar {
    background-image: url("spacePaper.png");
    background-attachment: fixed;
    height: 100vh;
    flex-grow: 1;
    color: white;
}

.logo {
    font-family: 'Caesar Dressing', cursive;
    text-align: center;
    padding: 20px 0;
    margin: 30% 0;
    font-size: 2.5em;
    background-color: rgba(0, 0, 0, 0.507);
}

img {
    height: 1em;
    vertical-align: middle;
}

.main-content {
    background-color: whitesmoke;
    height: 100vh;
    flex-grow: 3;
}

p {
    text-align: center;
}