* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    display: flex;
    flex-direction: row;
    margin: auto;
    padding: 0 8%;
    background-color: rgb(30, 30, 30);
}

.sidebar {
    background-image: url("spacePaper.png");
    background-attachment: fixed;
    height: 100vh;
    flex-grow: 1;
    color: white;
    min-width: 30%;
}

.logo {
    font-family: 'Caesar Dressing', cursive;
    text-align: center;
    padding: 20px 0;
    margin: 30% 0;
    font-size: 2.5em;
    background-color: rgba(0, 0, 0, 0.507);
}

img {
    height: 1em;
    vertical-align: middle;
}

.main-content {
    background-color: whitesmoke;
    height: 100vh;
    flex-grow: 3;
    display: flex;
    flex-direction: column;
}

p {
    text-align: center;
}

.top {
    text-align: center;
    padding: 10% ;
    margin: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form-container {
    flex-grow: 2;
    border: none;
    width: auto;
    margin: 0;
    padding: 0;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.5);

}

.bottom {
    flex-grow: 1;
    text-align: center;
    padding: 2% 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin-top: 10%;
}

button {
    background-color: rgb(31, 5, 148);
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 1em;
    cursor: pointer;
    border-radius: 20px;
}